<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DataDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <DataDownloader.Properties.Settings>
      <setting name="KeePass_MasterPassword" serializeAs="String">
        <value></value>
      </setting>
      <setting name="KeePass_Path" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DataDownloader_Path" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DataDownloader_Subfolder_Raiffeisen" serializeAs="String">
        <value>Raiffeisen</value>
      </setting>
      <setting name="KeePass_Entry_Uuid_Raiffeisen" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DataDownloader_Subfolder_Santander" serializeAs="String">
        <value>Santander</value>
      </setting>
      <setting name="KeePass_Entry_Uuid_Santander" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DataDownloader_Subfolder_Dkb" serializeAs="String">
        <value>DKB</value>
      </setting>
      <setting name="KeePass_Entry_Uuid_Dkb" serializeAs="String">
        <value></value>
      </setting>
    </DataDownloader.Properties.Settings>
  </userSettings>
</configuration>