<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DataDownloader.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataDownloader.Common.Properties.Settings>
            <setting name="KeePass_Path" serializeAs="String">
                <value>C:\Dropbox\_tools\KeePass_2_DB_Stefan.kdbx</value>
            </setting>
            <setting name="KeePass_Entry_Uuid_Raiffeisen" serializeAs="String">
                <value />
            </setting>
            <setting name="DataDownloader_Path" serializeAs="String">
                <value>Y:\Bank\_download</value>
            </setting>
            <setting name="DataDownloader_Subfolder_Raiffeisen" serializeAs="String">
                <value>Raiffeisen</value>
            </setting>
            <setting name="DataDownloader_Subfolder_Santander" serializeAs="String">
                <value>Santander</value>
            </setting>
            <setting name="KeePass_Entry_Uuid_Santander" serializeAs="String">
                <value />
            </setting>
            <setting name="DataDownloader_Subfolder_Dkb" serializeAs="String">
                <value>DKB</value>
            </setting>
            <setting name="KeePass_Entry_Uuid_Dkb" serializeAs="String">
                <value />
            </setting>
            <setting name="DataDownloader_Subfolder_Number26" serializeAs="String">
                <value>Number26</value>
            </setting>
            <setting name="KeePass_Entry_Uuid_Number26" serializeAs="String">
                <value />
            </setting>
            <setting name="KeePass_Field_Pin_Raiffeisen" serializeAs="String">
                <value>PIN</value>
            </setting>
            <setting name="KeePass_Field_Birthday_Santander" serializeAs="String">
                <value>birthday</value>
            </setting>
            <setting name="KeePass_Entry_Uuid_Rci" serializeAs="String">
                <value />
            </setting>
            <setting name="DataDownloader_Subfolder_Rci" serializeAs="String">
                <value>RenaultBank</value>
            </setting>
        </DataDownloader.Common.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
