<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataDownloader.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataDownloader.Common.Properties.Settings>
            <setting name="KeePassPath" serializeAs="String">
                <value />
            </setting>
            <setting name="KeePassEntryUuidRaiffeisen" serializeAs="String">
                <value />
            </setting>
            <setting name="DataDownloaderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DataDownloaderSubfolderRaiffeisen" serializeAs="String">
                <value>Raiffeisen</value>
            </setting>
            <setting name="DataDownloaderSubfolderSantander" serializeAs="String">
                <value>Santander</value>
            </setting>
            <setting name="KeePassEntryUuidSantander" serializeAs="String">
                <value />
            </setting>
            <setting name="DataDownloaderSubfolderDkb" serializeAs="String">
                <value>DKB</value>
            </setting>
            <setting name="KeePassEntryUuidDkb" serializeAs="String">
                <value />
            </setting>
            <setting name="DataDownloaderSubfolderNumber26" serializeAs="String">
                <value>Number26</value>
            </setting>
            <setting name="KeePassEntryUuidNumber26" serializeAs="String">
                <value />
            </setting>
            <setting name="KeePassFieldPinRaiffeisen" serializeAs="String">
                <value>PIN</value>
            </setting>
            <setting name="KeePassFieldBirthdaySantander" serializeAs="String">
                <value>birthday</value>
            </setting>
            <setting name="KeePassEntryUuidRci" serializeAs="String">
                <value />
            </setting>
            <setting name="DataDownloaderSubfolderRci" serializeAs="String">
                <value>RenaultBank</value>
            </setting>
            <setting name="DataDownloaderRunDefaultRaiffeisen" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="DataDownloaderRunDefaultSantander" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="DataDownloaderRunDefaultDkb" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="DataDownloaderRunDefaultNumber26" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="DataDownloaderRunDefaultRci" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="LanguageIso639_1" serializeAs="String">
                <value>en</value>
            </setting>
        </DataDownloader.Common.Properties.Settings>
    </userSettings>
</configuration>